.main{
    text-align: center;
}
form{
    padding: 24px;
    text-align: right;
}
form input, select, textarea{
    margin-bottom: 8px;
}
body{
    background: #660000;
    color: white;
    font-weight: bold;
}
body a, a:visited, button{
    display: inline-block;
    color: black;
    background: #ffcc99;
    border: 2px solid black;
    padding: 8px;
    margin: 8px;
    text-decoration: none;
}