.main{
    text-align: center;
}
form{
    padding: 12px;
    text-align: right;
    display: inline-block;
}
form input, select, textarea{
    margin-bottom: 8px;
    padding: 4px;
}
body{
    background: #660000;
    color: white;
    font-weight: bold;
    margin: 0px;
}
body a, a:visited, button{
    display: inline-block;
    color: black;
    background: #ffcc99;
    border: 2px solid black;
    padding: 8px;
    margin: 8px;
    text-decoration: none;
}
#menu{
    position: fixed;
    background: #660000;
}
#resultado{
    margin-top: 64px;
    color: black;
    padding: 12px;
}
.item{
    background: white;
    overflow: hidden;
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
    margin-bottom: 8px;
}
.item img{
    width: 128px;
}
h3{
    margin: 0px;
}