@font-face{
    font-family: titulo;
    src: url(font.ttf);
}
header{
    text-align: center;
    background: #330000;
    color: white;
    padding: 12px;
    font-family: titulo;
}
header h1{
    margin: 0px;
}
#titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#titulo img{
    width: 128px;
}
nav#desktop{
    display: none;
}
nav#mobile{
    display: flex;
    justify-content: space-around;
    
}
nav#mobile button{
    color: white;
    background: none;
    border: none;
    padding: 4px;
    border-bottom: 1px dotted white;
}
nav#mobile button:active{
    background: #663300;
}
body{
    margin: 0px;
}
#content{
    display: flex;
    flex-direction: column;
    font-family: Verdana;
    margin-top: 8px;
}
@media only screen and (min-width: 480px){
    #titulo{
        flex-direction: row;
    }
    #titulo img{
        width: 192px
    }
    #content{
        flex-direction: row;
        margin-top: 8px;
        align-items: flex-start; 
    }
    section{
        margin: 16px;
        width: 70%;
    }
    nav#mobile{
        display: none;
    }
    nav#desktop{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 8px;
    }
    nav#desktop button{
        color: white;
        background: #660000;
        padding: 20px;
        margin-bottom: 12px;
        border: none;
        border-radius: 10px;
        font-family: Verdana;
        font-weight: bold;
    }
    nav#desktop button:active{
        background: #ff9900;
    }
    aside{
        min-width: 300px;
        height: 580px;
        margin: 0px;
    }
}
section{
    padding: 8px;
    margin: 8px;
    margin-top: 0px;
    background: #ffcc99;
}
article p{
    text-align: justify;
    border-left: 4px solid gray;
    padding-left: 8px;
}
aside{
    border: 1px solid black;
    margin: 8px;
}